*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

/*header section styles start from here */

.header{
 width: 100%
}
.container{
  width: 1140px;
  margin: 0 auto;
}
.navbar{
  width: 100%;
  display: flex;
  padding: 24px 0;
}
.logo{
  flex-basis: 20%;
}
.logo img{
  margin-top: 8px;
}
.menu{
  flex-basis: 50%;

}
.menu ul li{
  list-style: none;
  display: inline-block;
  margin-top: 18px;

}
.menu ul li a{
  margin-right: 52px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
}
.menu ul li a:hover{
  color:  #ff6161;
}
.hdr-btn{
  flex-basis: 30%;
  text-align: right;
}
.hdr-btn button{
    padding: 16px 24px;
    background: transparent;
    color: #ff6161;
    font-weight: 600;
    font-size: 16px;
    border: 3px solid #ff6161;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: .5s;
    position: relative;
    z-index: 9999;
}
.hdr-btn button::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #ff6161;
  left: 0;
  z-index: -1;
}
.hdr-btn button:hover{
  color: white;
}

.hdr-btn button:hover::before{
  transition: .5s;
  color: #ff6161;
  height: 100%;
}
.hdr-btn:hover span{
  color: white;
}
.scl-icon{
 position: fixed;
}
.scl-icon ul li{
  list-style: none;
  background: #ff6161;
  padding: 7px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  right: 0;
  margin-bottom: 5px;
  transition: .5s;
}
.scl-icon ul li i{
 color: white;
 font-size: 22px;
}
.scl-icon ul li:hover{
  transform: rotate(360deg);
  transition: .5s;
  background: red;
}
/*header section styles ends from here */



/*content section styles start from here */
.content{
  width: 100%;
}
.banner{
  display: flex;
  height: 100vh;
  align-items: center;
}
.left{
  flex-basis: 50%;
}
.left h1{
  font-size: 52px;
  font-weight: 600;
  line-height: 62px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.left span{
  color: #9a8d8d;
  line-height: 19px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
}
.right{
  flex-basis: 50%;

}
.icon{
 list-style: none;
 margin-top: : 20px;
}
.icon li{
  margin-top: 20px;
}
.icon li a i{
    border: 2px solid #c3c2c2;
    color: #c3c2c2;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}
/*content section styles ends from here */

/*Demo section styles starts from here */
.demo{
  width: 100%;
}
.project{
  text-align: center;
  margin-top: 80px;
}
.project h1{
  font-size: 40px;
  font-weight: 600;
  line-height: 62px;
  font-family: 'Poppins', sans-serif;
}
.project p{
 margin-bottom: 10px;
 color: grey;
 font-family: 'Montserrat', sans-serif;
}
.prjct-glry{
  display: flex;
  margin-top: 50px;
}
.ctgry img{
  height: 355px;
  margin-right: 15px;
  flex-grow: 1;
  padding: 2px;
}
.ctgry img:hover{
  box-shadow: 9px 6px 15px grey;
}
.one{
  margin-left: 25px;
}
.ctgry h3{
  color: black;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 10px;
}
.ctgry h3:hover{
  color: red;
}
/*Demo section styles ends from here */


/*features section styles starts from here */
.feature{
  width: 100%;
  margin: 100px 0;
  margin-bottom: 40px;
}
.feature-content{
  text-align: center;

}
.feature-content h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 62px;
  font-family: 'Poppins', sans-serif
}
.feature-content p{
  margin-bottom: 10px;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}
.box{
  display: flex;
}
.box-1{
  background: #d8d8d8;
  margin: 9px;
  padding: 9px;
  transition: .5s;
}
.box-1:hover{
  background: #354644;
  transform: scale(0.9);
  transition: .5s;
}
.box-1 span{
    border: 15px solid white;
    background: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.box-1 span img{
  text-align: center;
  margin-bottom: -8px;
}
.box-1 h4{
  font-size: 20px;
  font-weight: 600;
  line-height: 62px;
  font-family: 'Poppins', sans-serif;
  margin-top: -8px;
}
.box-1:hover h4{
  color: white;
}
.box-1 p{
  margin-top: -5px;
  color: #7b7777;
  font-family: 'Montserrat', sans-serif;
}
.box-1:hover p{
  color: white;
}
/*features section styles ends from here */

/*footers section styles starts from here */
.footer{
  width: 100%;
  margin-top: 30px;
  background: #354644;
}
.footer-cntnt{
 text-align: center;
 padding: 30px 0;
}
.footer-cntnt h1{
  font-size: 40px;
  font-weight: 600;
  line-height: 62px;
  font-family: 'Poppins', sans-serif;
  line-height: 55px;
  color: white;
}
.footer-cntnt span{
  color: #ff6161;
  font-family: 'Montserrat', sans-serif;
}

.ftr-btn button{
    padding: 16px 24px;
    background: transparent;
    color: #ff6161;
    font-weight: 600;
    font-size: 16px;
    border: 3px solid #ff6161;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: .5s;
    position: relative;
    z-index: 9999;
    margin: 20px 0;
}
.ftr-btn button::before{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background: #ff6161;
  left: 0;
  z-index: -1;
}
.ftr-ftr button:hover{
  color: white;
}

.ftr-btn button:hover::before{
  transition: .5s;
  color: #ff6161;
  height: 100%;
}
.ftr-btn:hover span{
  color: white;
}
.rion{
  text-align: center;
  margin-top: 30px;
}
.rion span{
  color: white;
  opacity: 60%;
  padding: 30px 0;

}
/*footers section styles ends from here */




/*scroll section styles starts from here */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: 0.8s;
  background: #ff6161;
  padding-top: 20px;
}

#myBtn:hover {
  transition: 10s;
  transition: 0.8s;
  background: red;
}
.icon{
   list-style: none;
   margin-top: : 50px;
  }
.icon li{
    margin-top: 0px;
  }
  .nav-item{
    position: relative;
  }
  .nav-item::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 9%;
    background: red;
    bottom: 0;
    transition: .5s;
  }
  .nav-item:hover::before{
    width: 100%;
    transition: .5s;
  }
.icon li a i{
      border: 2px solid #c3c2c2;
      color: #c3c2c2;
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 50%;
      text-align: center;

}
/*scroll section styles ends from here */
